.app-name {
    font-size: 100px
}

.navbar-menu .link_section {
    font-size: 25px;    
}

.is-clickable-dog {
    cursor: pointer;
}

.is-clickable-cat {
    cursor: pointer;
}

.button {
    padding: 10px 35px;
    background-color: rgb(31, 99, 244);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    outline: none;
    transition: 0.6s ease;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(31, 99, 244);
    color: black;
    box-shadow: 0 0 5px lightskyblue, 0 0 10px lightskyblue, 0 0 15px lightskyblue;
    font-weight: bold;
}